* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   color: #fff;
}

/*? Header */

header {
   display: flex;
   height: 53.47vw;
   padding: 2.85vw 0 21.32vw 0;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   background-repeat: no-repeat;
   background-size: 100%;
   background-image: url(./../img/bg.png);
}

header img {
   width: 7.01vw;
}

.header__content {
   display: flex;
   flex-direction: column;
} 

.header__content-title {
   font-size: 4.17vw;
   letter-spacing: 0.42vw;
   line-height: 4.86vw;
   font-family: 'Bebas Neue';
}

.header__content-text {
   text-align: center;
   font-size: 1.11vw;
   line-height: 1.32vw;
   font-family: 'OpenSans';
}

/*? Navigation */
