* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

   transition: background 0.3s;

   font-style: normal;
   font-family: "Roboto";
}

body {
   background: #eeeff1;
}

.filter-screen {
   top: 0;
   display: none;
   position: fixed;
   height: 100%;
   width: 100%;

   opacity: 0;

   transition-property: opacity;
   transition-duration: 2s;

   background-color: rgb(0, 0, 0, 0.5);
}

/* ? Header */

header {
   z-index: 2;
   position: fixed;
   padding: 57px 0;
   display: flex;
   width: 100%;
   gap: 20vw;
   justify-content: center;
   align-items: center;

   font-weight: 400;

   background: #eeeff1;
}

.logo {
   font-family: "Revalia";
   font-size: 48px;
   position: relative;

   color: #34547a;
}

.logo::before {
   content: "";
   position: absolute;
   top: 0;
   border-radius: 5px;
   left: -17px;
   width: 12px;
   height: 12px;
   transition: 0.5s;

   background-color: #34547a;

   animation: updown 1.5s infinite;
}

.logo:hover {
   color: #fff;

   transition: 1s;
}

.logo:hover::before {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   z-index: -1;

   animation: none;
}

@keyframes updown {
   0% {
      top: 0;
   }
   50% {
      top: 50px;
   }
   100% {
      top: 0px;
   }
}

nav {
   display: flex;
   gap: 42px;
}

nav a {
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.1em;
   text-decoration: none;

   color: #000000;
}

nav a:hover {
   color: #0a3f807a;
}

.burgerButton {
   height: 25px;
   width: 45px;
   display: none;
   position: relative;
}

.burgerButton-line {
   position: absolute;
   width: 45px;
   height: 6px;
   background-color: #34547a;
   transition: all 0.3s;
}

.burgerButton-line1 {
   top: 0;
}

.burgerButton-line2 {
   top: 50%;
}

.burgerButton-line3 {
   top: 100%;
}

.burgerMenu {
   top: 173.5px;
   left: 110%;
   width: 100%;
   position: absolute;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 5vw;

   transition: all 0.9s;
   
   box-shadow: 0px 0px 10px 10px #eeeff1;
   background-color: #eeeff1;
}

.burgerMenu a {
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.1em;
   text-decoration: none;

   color: #000000;
}

/*? Main */

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*? Intro  */

.intro {
   margin: 197px 0 140px 0;
   display: flex;
   gap: 130px;
   flex-wrap: wrap;

   font-weight: 400;
}

.intro img {
   width: 357px;
}

.intro__text {
   display: flex;
   flex-direction: column;
   gap: 60px;
   align-items: center;
}

.intro__text h1 {
   text-align: center;
   font-weight: 500;
   font-size: 48px;

   color: #000000;
}

.intro__text-title {
   padding: 4px;
   max-width: 540px;

   text-align: center;
   font-size: 16px;

   color: #727272;
}

.intro__text button {
   width: 225px;
   height: 65px;
   cursor: pointer;
   border: none;

   font-size: 16px;
   text-align: center;
   letter-spacing: 0.1em;

   color: #fff;
   background: #34547a;
}

.intro__text button:hover {
   background: #0a3f807a;
}

/*? About */

.about {
   width: 100%;
   padding: 110px 0;
   display: flex;
   flex-direction: column;
   align-items: center;

   background: #fff;
}

.about h1 {
   font-weight: 500;
   font-size: 48px;
   line-height: 79px;

   color: #000;
}

.about-title {
   padding: 4px;
   max-width: 540px;
   text-align: center;

   font-weight: 400;
   font-size: 16px;
   line-height: 26px;

   color: #727272;
}

/*? Projects */

.projects {
   padding: 100px 0;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 50px;
   flex-wrap: wrap;

   color: #ffffff;
   background: #34547a;
}

.projects__item {
   width: 140px;
   display: flex;
   gap: 20px;
}

.projects__item__text {
   margin: 3px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.projects__item__text h1 {
   font-weight: 500;
   font-size: 21px;
}

.projects__item__text-title {
   font-weight: 400;
   font-size: 16px;
}

/*? Skills */

.skills {
   position: relative;
   padding: 102px 0;
   width: 100%;
   display: flex;
   flex-wrap: wrap-reverse;
   align-items: center;
   justify-content: center;
   gap: 150px;

   background-color: #fff;
}

.skills__content {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.skills__content h1 {
   font-weight: 500;
   font-size: 32px;
   line-height: 38px;

   color: #000000;
}

.skills__content__list {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.skills__content__list-box {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.skills__content__list__box-title {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;

   color: #727272;
}

.skills__content__list-box progress {
   width: 23.18vw;
   height: 4px;

   background: #c4c4c4;
}

.skills__content__list-box progress::-webkit-progress-value {
   background: #34547a;
}

.skills img {
   max-width: 555px;
}

/*? Work */

#work {
   position: absolute;
   top: 505px;
}
.work {
   padding: 117px 0 83px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 57px;
}

.work__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.work__content h1 {
   font-weight: 500;
   font-size: 32px;

   color: #000000;
}

.work__content-title {
   padding: 4px;
   max-width: 540px;
   text-align: center;

   font-weight: 400;
   font-size: 16px;

   color: #727272;
}

.work iframe {
   width: 57.81vw;
   height: 31.25vw;
}

/*? Gallery */

.gallery {
   padding-top: 45px;
   display: flex;
   flex-wrap: wrap;

   background-color: #fff;
}

.gallery-img {
   width: 25%;
   position: relative;
}

.gallery__img-img {
   width: 100%;
   height: 100%;
}

.gallery__img-filter {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}

.gallery__img-filter:hover {
   background-color: rgba(52, 84, 122, 0.8);
}

.gallery__img-view {
   cursor: pointer;
   z-index: 1;
   position: absolute;
   opacity: 0;
   width: 100px;
   height: 100px;
   top: calc(50% - 50px);
   left: calc(50% - 50px);

   transition: 0.3s;
}

.gallery__img-filter:hover .gallery__img-view {
   opacity: 1;
}

/*? Company */

.company {
   width: 100%;
   padding: 72px 0 100px 0;
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;

   background-color: #fff;
}

.company img {
   max-width: 255px;
}

/*? Form */

.form {
   width: 100%;
   position: relative;
   padding: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 65px;
}

.form__text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.form__text h1 {
   text-align: center;

   font-weight: 500;
   font-size: 32px;
}

.form__text-title {
   max-width: 540px;
   padding: 4px;
   text-align: center;

   font-weight: 400;
   font-size: 16px;

   color: #727272;
}

.form__input {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.form__input__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.form__input__list__block {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.form__input__list__block input {
   padding-left: 20px;
   width: 255px;
   height: 50px;
   border: none;
   outline: none;

   font-weight: 400;
   font-size: 14px;

   color: #5f5d5d;
}

.form__input__list input::placeholder {
   font-weight: 400;
   font-size: 14px;

   color: #5f5d5d;
}

.form__input__list textarea {
   padding: 17px 20px;
   width: 540px;
   height: 175px;
   border: none;
   outline: none;
   resize: none;

   font-weight: 400;
   font-size: 14px;

   color: #5f5d5d;
}

.form__input__list textarea::placeholder {
   font-weight: 400;
   font-size: 14px;

   color: #5f5d5d;
}

.form__input button {
   width: 190px;
   height: 55px;
   border: none;
   cursor: pointer;

   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.15em;
   text-transform: uppercase;

   background-color: #34547a;
   color: #fff;
}

/*? Modal block */

.modal-block {
   top: 25%;
   padding: 10px;
   display: none;
   position: fixed;
   max-width: 700px;
   max-height: 600px;
   text-align: center;
   border-radius: 3px;

   transition-property: opacity;
   transition-duration: 0.3s;

   opacity: 0;

   color: black;
   background-color: white;
}

.modal-block img {
   max-width: 50px;
   position: absolute;
   right: 0;
   top: 0;

   cursor: pointer;
}

.modal__block-content {
   display: flex;
   height: 100%;
   justify-content: space-around;
   flex-direction: column;
}

/*? Footer */

footer {
   padding: 50px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 39.43vw;

   background: #34547a;
}

.footer__content {
   display: flex;
   flex-direction: column;
   gap: 1.04vw;
}

.footer__content h1 {
   font-weight: 500;
   font-size: 21px;

   color: #fff;
}

.footer__content-title {
   font-weight: 400;
   font-size: 13px;

   color: #fff;
}

.footer__links {
   display: flex;
   gap: 30px;
}

.footer__links a {
   width: 50px;
}

/*? Media */

@media (max-width: 1025px) {
   .intro {
      width: 100%;
      justify-content: center;
      align-items: center;
   }

   .intro__text {
      justify-content: center;
      align-items: center;
   }
}

@media (max-width: 920px) {
   .skills__content__list-box progress {
      width: 75vw;
   }
}

@media (max-width: 900px) {
   nav {
      display: none;
   }
}
@media (max-width: 800px) {
   footer {
      gap: 30vw;
   }
}

@media (max-width: 600px) {
   footer {
      gap: 25vw;
   }
}

@media (max-width: 555px) {
   /*? Gallery */

   .gallery {
      flex-wrap: wrap-reverse;
   }

   .gallery-img {
      width: 50%;
   }

   /*? Footer */

   .footer__links {
      display: none;
   }

   .form__input__list__block {
      flex-direction: column;
      gap: 20px;
   }
   .form__input__list__block input {
      width: 85.45vw;
   }

   .form__input__list textarea {
      width: 85.45vw;
   }
}

@media (max-width: 450px) {
   header {
      gap: 0;
      justify-content: space-around;
   }

   .burgerButton {
      display: block;
   }

   /*? Intro */

   .intro img {
      width: 75%;
   }

   /*? Skills */

   .skills img {
      width: 75%;
   }

   /*? Work */

   .work iframe {
      width: 75vw;
      height: 40vw;
   }

   /*? Form */

   .form__text-title {
      width: 75vw;
   }
}
